[data-theme="light"],
:root:not([data-theme="dark"]) {
	--primary: #0061fc;
	--primary-hover: #e0002b;
	--primary-focus: #e0002b;
	--muted-color: hsl(205, 10%, 40%);
}

h2,
h3 {
	--font-size: 20px;
	--font-weight: 600;
	--color: rgb(65, 84, 98);
	--margin-bottom: 1rem;
	--typography-spacing-vertical: .rem;
}

.underline {
	text-decoration: underline;
}

li {
	list-style: none;
	padding-bottom: 1rem;
}

li li {
	padding-bottom: 0;
}

h3.secondary-list {
	margin-bottom: 0;
	font-size: var(--font-size);
}

.name {
	font-weight: 700;
}

.bold {
	font-weight: 600;
}

ul.subsection {
	background-color: #f0f4ff;
	padding: 1rem 1rem 1rem 2rem;
	margin-left: 0.5rem;
}

ul.subsection > li {
	margin-top: 1rem;
}

.title-language {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-content: center;
	align-items: top;
	line-height: 2rem;
}
